<div class="job-tracker-show-container">
    <h1><%= @job_tracker.company %></h1>
    <h2>Postion: <%= @job_tracker.position %></h2>
    <h2>Current Status: <%= @job_tracker.status %></h2>
    <h2>Last Contact: <%= @job_tracker.activity %></h2>
</div>