<h1><%= @user.first_name%> Notes</h1>

<ul>
  <% @notes.each do |note| %>
  <li><%= link_to note.title, note_path(note) %> - <%= note.dat %></li>
  <% end %>
</ul>

<%= button_to "Add Note", new_note_path, method: :get%>
