/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// html {
//     background-color: #add8e6;
// }

// body {
//     background-color: #add8e6;
// }

.account-page-container {
    padding-top: 50px;
}

.account-page-header {
    text-align: center;
}

.account-page-row {
    padding-top: 50px;
}

.resume-generator-container {
    padding: 120px;
    // background: lightgrey;
}

.resume-form-submit-button {
    margin-left: 50%;
    margin-right: 50%;
}

.new-account-form-container {
    // position: fixed;
    padding: 100px;
    /* bring your own prefixes */
    // transform: translate(-50%, -50%);
}

.resume-container {
    margin: 50px;
}

.resume-edit-container {
    margin: 50px;
}

.notes-new-container {
    margin: 50px;
}

.notes-show-container {
    margin: 50px;
}

.notes-index-container {
    margin: 50px;
}

.job-tracker-index-container {
    margin: 50px;
}

.job-tracker-new-container {
    margin: 50px;
}

.job-tracker-show-container {
    margin: 50px;
}

.practice-problems-index-container {
    margin: 50px;
}

.practice-problems-show-container {
    margin: 50px;
}