// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resume-edit-container {
    font-family: 'EB Garamond', serif;
    padding: 100px;

    p {
        margin: 0 auto;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
    }

    .contact-info {
        text-align: right;
    }

    .skills-section-resue-show {
        margin-bottom: 0 auto;
        // padding-bottom: 50px;
    }
}